<!-- Header -->
<%- include('header2.ejs') %>
<!-- Body -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-success">Registered</h1>
                <p>Thank you <%= name %> for registering, please check your email (<%= email %>) to verify your account!</p>
            </div>
        </div>
    </div>
<!-- Footer -->
<%- include('footer.ejs') %>